/*---------------------------------------------------------FONTS--*/

@mixin font-size($sizeValue: 1.6) {
    font-size: ($sizeValue * 10) + px;
    font-size: $sizeValue + rem;
}

/*---------------------------------------------------------COLORS--*/

$button-back-light: #6496c8;
$button-back-dark: #417cb8;
$button-shadow: #27496d;


/*---------------------------------------------------------PLAYBACK-BUTTONS--*/

.playback-buttons > button {
    @include font-size(2);
    padding: 10px 30px;
    color: #fff;
    background-color: $button-back-light;
    border: none;
    box-shadow: 0 12px $button-shadow;
    outline: 0;
    transition: all 0.1s;

    &:hover {
        background-color: $button-back-dark;
        box-shadow: 0 10px $button-shadow;
        transform: translateY(2px);
    }

    &:first-child {
        border-radius: 20px 0 0 20px;
    }

    &:last-child {
        border-radius: 0 20px 20px 0;
    }

    &.active {
        background-color: $button-back-dark;;
        box-shadow: 0 2px $button-shadow;
        transform: translateY(10px);
    }
}


